ul {
  list-style: none;
}

.main-header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  padding-top: 30px;
}

.header__red {
  color: var(--red);
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 700;
}

.header__title {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px;
}

.header__title .main {
  font-size: 25px;
  font-weight: 700;
}

.header__title .icons {
  margin-right: -10px;
}

.header__title .icons i {
  margin: 0 15px;
}

.header__title .icons i:nth-child(2) {
  padding-right: 15px;
}
